In [1]:
print("Hello world")

Hello world

In [5]:
name = "Owen"
"My name is {}".format(name)

'My name is Owen'

There is some additional markdown added and to be pushed to origin

In [3]:
import pandas as pd
import numpy as np

In [5]:
pd.DataFrame({"Names":['Owen', 'Alan', 'Sam', 'Jerry'], "Grades":[61, 68, 78, 87]})

   Names  Grades
0   Owen      61
1   Alan      68
2    Sam      78
3  Jerry      87

In [11]:
rng = np.random.default_rng()
pd.Series(rng.random(10))

0    0.684132
1    0.192225
2    0.371770
3    0.752769
4    0.065675
5    0.836398
6    0.240886
7    0.154550
8    0.343280
9    0.535238
dtype: float64